src/main/mule/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a5f69fda-cfd3-4f8d-9b50-9eff07450420" basePath="/employee1" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="48b3786b-6348-4998-86bb-6ab49321018a" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Gueywelu8*" database="bekisha"/>
	</db:config>
	<flow name="POST" doc:id="15d7520b-e64a-415c-b8c0-91c04a519adb" >
		<http:listener doc:name="Listener" doc:id="6442c0ee-3a72-4fca-8e32-f4c34c7c7e1a" config-ref="HTTP_Listener_config" path="/kotsari"/>
		<ee:transform doc:name="Transform Message" doc:id="29fe6325-b813-4015-9908-b7cbdc1a8941" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	
    id: payload.employeeid,
	fName: payload.firstName,
	lName: payload.lastName,
	cpy: payload.campany,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="6f588286-e7db-4305-88e5-9abe4e4fd8bf" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO kotsari (employeeid,firstName,lastName,campany)
VALUES (:id, :fName, :lName, :cpy)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="b5fb3dd5-b6b9-4685-8ec3-0efd08e331cb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	
	status: "success",
	message: "Data has been inserted into kotsari table",
	

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
